<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand">Events</a>
    </div>
  </nav>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">sl</th>
          <th scope="col">Name</th>
          <th scope="col">Time</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>meeting</td>
          <td>9am</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>wedding</td>
          <td>11am</td>
        </tr>
      </tbody>
    </table>
    <div class="row d-grid gap-2">
      <button (click)=back() class="btn btn-secondary">back</button>
    </div>
  </div>